<tr>
  <td><%= user.id %></td>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= user.moderator %></td>
  <td><%= user.raidmember %></td>
  <td><%= user.thredded_admin %></td>
  <td>
    <div class="bottom-links">
      <small>
      <% if current_user.moderator == 1 && current_user != user %>
        <div class="actions"><%= button_to 'mod', {controller: 'users', action: 'mod', :id => user.id} %></div>
      <% end %>
      <% if current_user.moderator == 1 %>
        <div class="actions"><%= button_to 'raid', {controller: 'users', action: 'raid', :id => user.id} %></div>
        <div class="actions"><%= button_to 'forum', {controller: 'users', action: 'forumadmin', :id => user.id} %></div>
        <div class="actions"><%= button_to 'löschen', {controller: 'users', action: 'admindestroy', :id => user.id, data: { confirm: "Sind sie sicher?" }} %></div>
      <% end %>
      </small>
    </div>
  </td>
</tr>
