<%= render('shared/sidebar') %>

<div class="form-container row pull left">
	<div class="users row pull-left">
		<h3><%= @user.username %></h3><%if user_signed_in? %><% if current_user==@user %><small> -- <%= link_to 'Ändern', edit_user_registration_path %></small>
    <p><%= @user.email %></p><% end %><%end%>
<p>NYI <br> Zur Anzeige der Profilinformationen</p>

	</div>
	<div class="chars row pull-right">
		<h4>World of Warcraft Charaktere:</h4>
		<%= render @user.wowchars %>
		<!--<%= link_to 'Neuen Charakter erstellen', new_wowchar_path %>-->
		<h4> NYI</h4>
		<p> Hier soll es möglich sein Charaktere <br>
		zu erstellen oder aus der Armory zu importieren </p>
	</div>
</div>
