<!DOCTYPE html>
<html>
<head>
  <title>Private Bank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//wow.zamimg.com/widgets/power.js"></script><script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
</head>
<body class="main">
<div class="logo jumbotron">
	<div class="container">
		<div class="small-logo container">
			<h1>Private Bank <small>Die Aldor</small></h1>
			<p>Eine World of Warcraft Gilde</p>
		</div>
		<nav class="navbar navbar-inverse navigation">
			<div class="container">
				<ul class="nav navbar-nav">
					<li><%= link_to 'Home', main_app.root_path %></li>
					<li><%= link_to 'Raid', main_app.raid_path %></li>
					<li><a href="https://www.warcraftlogs.com/guilds/22192" target="_blank">Logs</a></li>
					<% if user_signed_in? && current_user.raidmember == 1 %>
	  					<li><%= link_to 'Forum', thredded_path %></li>
						<li><%= link_to 'Lootliste', main_app.lootlist_path %></li>
					<% end %> 
				</ul>
				<ul class="nav navbar-nav navbar-right ">
				 	<% if user_signed_in? %> 
						<li class="dropdown">
		            		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		              		<%= current_user.username %>
		              		<span class="caret"></span>
		            		</a>
		            		<ul class="dropdown-menu" role="menu">
		            			<%if current_user.moderator == 1 %>
		            			    <li><%= link_to 'Admin', main_app.users_path %></li>
		              				<li><%= link_to 'Neuer Post', main_app.new_article_path %></li>
		              			<% end %>
			              		<li><%= link_to 'Profil', main_app.user_path(current_user) %></li>
			             		<li><%= link_to 'Abmelden', main_app.destroy_user_session_path, method: :delete %></li>
		            		</ul>
		          		</li>
				</ul>
					<% end %>
					<% if !user_signed_in? %>
						<li class=""><%= link_to "Registrieren", main_app.new_user_registration_path %></li>
						<li class=""><%= link_to "Anmelden", main_app.new_user_session_path %></li>
					<% end %>		
			</div>
		</nav>
		<div class="container">
  			<% flash.each do |key, value| %>
	    		<div class="alert alert-<%= key %>">
	      			<%= value %>
	    		</div>
  			<% end %>
		</div>
	</div>
</div>
<div class="main-field container">
  	<%= yield %>
</div>
</body>
</html>
